[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/krkrz/zlib.git
	ignore = dirty
